.game-thumbnail-container{
	border: 1px solid #e8e8e8;
	width: 70%;
	margin: 0 auto;
	padding: 40px;
	background: #323948;
	color: #e8e8e8;
}

div{
	text-align: center;
}

button {
	margin-top: 8%;
	background-color:#e8e8e8;
}