.signup{
	color: #00ffbc;
	text-align: center;
}

.signupDiv {
	width: 55% !important;
}

label{
	color: #e8e8e8;
}

.media{
	margin: 20px;
	padding: 10px
}

.signupBtn {
	margin: 0px;
	background-color: #323948;
  	color: #00ffbc;
  	border-color: #00ffbc;
}