.leaderboard-container{
	border-bottom: 1px solid #e8e8e8;
	width: 60% !important;
	margin: 0 auto;
	margin-bottom: 5px;
	padding: 5px !important;
}

.leaderTable{
    padding: 20px;
    text-align: center;
    .name {
    	text-align: left;
    }
    h3{
    color: #e8e8e8;
    font-size: 2.5em;
    }
}

